.ms_hero{
    background: linear-gradient(0deg, #1F1E37 0%, #18155E 100%);
}
.ms_hero .container{
    position: relative;
    padding: 100px 0px 140px;
    display: flex;
    flex-direction: column;
    min-height: 552px;
    box-sizing: border-box;
    max-width: 880px;
    margin: auto;
}
.ms_hero h1{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}
.ms_hero h1 span{
    background: linear-gradient(90.14deg, #55FFE0 0.1%, #2FD1FC 43.93%, #2CCCFF 78.74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.ms_hero p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}
.ms_hero p span{
    font-weight: 700;
}
.ms_hero a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 53px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    background: #2E54EA;
    border-radius: 4px;
    padding: 18px, 32px;
    margin-top: 50px;
}
.ms_hero img{
    position: absolute;
    top:60px;
    right: -15px;
}
