.ms_step1{
    height: 476px;
    background: linear-gradient(77.4deg, #F2F5FA 0%, rgba(242, 245, 250, 0) 66.23%);
}
.ms_step1 .container{
    position: relative;
    max-width: 880px;
    margin: auto;
    padding: 132px 0;
}
.ms_step1_step{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #A9AEC2;
}
.ms_step1_title{
    margin-top: 35px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #4A4A4A;
}
.ms_step1_desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4A;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ms_step1 .container a{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2E54EA;
    text-decoration: none;
}
.ms_step1 .container img{
    position: absolute;
    right: -13px;
    top: 100px
}